.div-banner {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/fonts/banner1.0.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    display: grid;
    grid-template-rows: 1fr auto 15%;
    justify-content: center;

    /* Elimina el fondo rojo */
    background-color: #f3ecf9;

    /* Redondeado opcional */
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    overflow: hidden;
}

.div-banner span {
    grid-row: 2/3;
    color: white;
    font-size: 8rem;
    font-weight: 900;
}

.div-banner .a-boton {
    grid-row: 3/4;
    color: white;
    border: 1px solid white;
    border-radius: 35px;
    padding: 1.5rem 4rem;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 480px) {
  .div-banner span {
    font-size: 2.2rem; /* antes 8rem o 3rem, ahora más pequeño */
  }

  .div-banner .a-boton {
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 25px;
  }
}